<!DOCTYPE html>
{% extends 'homepage.html' %}
{% block content %}
<html lang="en">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-11 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Display Items</h4>
<!--                  <p class="card-description">-->
<!--                    Add class <code>.table</code>-->
<!--                  </p>-->
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Category</th>
                          <th>prodctname</th>
                          <th>Price</th>
                          <th>Size</th>
                          <th>Color</th>
                          <th>Genres/Type</th>
                          <th>Image</th>
                          <th>Options</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>
                          <td>{{d.Namee}}</td>
                          <td>{{d.Categorynamee}}</td>
                          <td>{{d.productname}}</td>
                          <td>{{d.Pricee}}</td>
                          <td>{{d.Sizee}}</td>
                          <td>{{d.Colorr}}</td>
                          <td>{{d.Typee}}</td>
                          <td><img src="{{ d.Imagee.url }}"></td>
                          <td>
                            <form method="post" action="{% url 'edititems' dataid=d.id %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
  <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
  <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
</svg>
                              </button>
                            </form>
                          </td>
                          <td>
                            <form method="post" action="{% url 'deleteitem' dataid=d.id %}" enctype="multipart/form-data">
                              {% csrf_token %}
                              <button type="submit" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
</svg>
                              </button>
                            </form>
                          </td>
                        </tr>
<!--                        <tr>-->
<!--                          <td>Messsy</td>-->
<!--                          <td>53275532</td>-->
<!--                          <td>15 May 2017</td>-->
<!--                          <td><label class="badge badge-warning">In progress</label></td>-->
<!--                        </tr>-->

                      </tbody>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </div>
            </div>

<script src="http://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}

{% if message.tags == 'warning' %}
<script>
  swal('{{message}}','','warning');
</script>

{% elif message.tags == 'error' %}
<script>
  swal('{{message}}','','error');
</script>

{% else %}
<script>
  swal('{{message}}','','success');
</script>

{% endif %}
{% endfor %}
{% endif %}

</body>
</html>
{% endblock %}